@model ColorBlindTestGenerator.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm()){
    <div>
        <input name="greenText" type="text" value="Green Text"/><br/>
        <input name="redText" type="text" value="Red Text"/><br/>
        <input type="submit"/>
        @if (Model != null)
        {
            var base64 = Convert.ToBase64String(Model.ImageByteArray);
            var imgSrc = $"data:image/png;base64,{base64}";
            <img src="@imgSrc" alt="Generate an image."/>
        }
    </div>
}