@{
    ViewBag.Title = "CVD Test Generator";
}

@*Move me!*@
<style>
    .padded {
        padding: 10px;
    }
</style>


<h2>CVD Test Generator</h2>
<div>
    <div class="padded"><input id="greenText" type="text" value="Green Test" /></div>
    <div class="padded"><input id="redText" type="text" value="Red Test" /></div>
    <div class="padded"><input type="button" name="submit" onclick="getImage();" value="Submit" /></div>
    <div id="divResult" class="padded"></div>
</div>

<script type="text/javascript">
    function getImage() {
        var link = [];
        link.push(
            '@Url.Action("GetImage")',
            '?greenText=' + encodeURIComponent($('#greenText').val()),
            '&redText=' + encodeURIComponent($('#redText').val())
        );

        $('#divResult').html('<img src="' + link.join("") + '" alt="Oops" />');
    }
</script>