@{
    ViewBag.Title = "CVD Test Generator";
}

@*Move me!*@
<style>
    .margined {
        margin: 10px;
    }
    #divSetup {
        display: inline-block;
    }
    #divResult {
        display: inline-block;
        vertical-align: top;
    }
    .form-control {
        display: inline-block;
        width: inherit;
    }
</style>


<h2>CVD Test Generator</h2>
<div id="divSetup">
    <div id="options">

    </div>
    <div class="margined">
        <input type="button" class="btn btn-primary" onclick="addOption()" value="  +  " />
        <input type="button" class="btn btn-success" onclick="getImage();" value="Submit" />
    </div>
    <div class="margined">
        
    </div>
</div>
<div id="divResult" class="margined"></div>



@section scripts
{
    <script type="text/javascript">
        //Cheap way to do formatting of all objects

        function getImage() {
            var textData = [];
            var inputDivs = $('#options').children();
            $.each(inputDivs, function(i, div) {
                textData.push({ text: $(div).children('input').val(), color: $(div).children('select').val() });
            });

            var link = '@Url.Action("GetImage")' + '?data=' + encodeURI(JSON.stringify(textData));

            $('#divResult').html('<img src="' + link + '" alt="Oops" />');
        }

        var inputId = 1;

        function addOption() {
            $('#options').append(
                $('<div class="margined"></div>').prop('id', 'option' + inputId)
                .append($('<input type="text" class="margined form-control" value="New Test"/>').prop('id', "textBox" + inputId))
                .append($('<select class="form-control">' +
                    '<option>Red</option></option>' +
                    '<option>Green</option></option>' +
                    '<option>Blue</option></option>' +
                    '<option value="Black">Plain</option>' +
                    '</select>').prop('id', 'selectBox' + inputId))
                .append($('<input type="button" class="margined btn btn-danger" value="  -  "/>')
                    .click({ inputId: inputId }, function (e) { $('#option' + e.data.inputId).remove(); }))
            );
            inputId++;
        }

        addOption();
        addOption();
        addOption();
        addOption();
        $('#textBox1').val('Red Test');
        $('#textBox2').val('Green Test');
        $('#selectBox2').val('Green');
        $('#textBox3').val('Blue Test');
        $('#selectBox3').val('Blue');
        $('#textBox4').val('Text');
        $('#selectBox4').val('Black');
    </script>
}